spring:
  application:
    name: zuul
    
server:
  port: 3001
  
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka

#zuul:
#  routes: #路由配置路径
#    item-service: /item-service/**
#    user-service: /user-service/**
#    order-service: /order-service/**
 
ribbon:  #需要开启重试，默认不开启
  ConnectTimeout: 1000
  ReadTimeout: 1000
  MaxAutoRetriesNextServer: 1
  MaxAutoRetries: 1
  
management: #暴露 hystrix.stream 监控端点
  endpoints:
    web:
      exposure:
        include: hystrix.stream